@media only screen and (max-width:800px){
    
    #logo{
        display: none;
    }
    #menu ul{
        left: 20%;
    }
    #footer-left{
        display: none;
    }
    #footer-middle{
        position: absolute;
        left: -20%;
    }
    #footer-right{
       position: absolute;
        left: 40%; 
    }
}